<div id="pins">  
 
  <p><% @pins.each do |pin| %></p>
 
    <div class="box"> 
               
      <%= link_to image_tag pin.image.url(:medium)%>                              
      <p class="title"><%= link_to pin.title, pin %></p>          
      <p class="user">By <strong class="username"><%= pin.user.username %></strong></p>
    
    </div>
  <% end %>
  
</div>

<%= link_to 'New Pin', new_pin_path, class: 'btn btn-default' %>

