// Place all the styles related to the Pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
    margin: 0 auto 14px;
}

.box { 
    margin: 9px; 
    width: 230px; 
    height: auto;
    background-color: #f2f2f2; 
    border-radius: 10px;
    box-shadow: 30px;
    transition: all .6s ease-in-out;
    
    p.title { 
        color: #656565; 
        font-size: 14px; 
        font-weight: 500; 
        padding-left: 10px;
        padding-top: 5px;
        }
        
    p.user {
        padding-left: 10px;
        column-rule: #lalala;
        font-size: 11px;
    }
                
}

.box:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    background-color: #99ddff;
}

.box img { 
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    }
    
.container h1 {
    color: #bfbfbf;
    font-weight: 700;
}

.container p {
    color: #bfbfbf;
}

.username {
    color: #1a1a1a;
}


    
